body {
    /* margin:0px; */
    /* this is common for people to do  */
    background-color: black;
    /* border: 3px solid blue; */
    font-family: "Nunito"; 
}
h1 {
    padding-left: .9em;
    margin: 0px;
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    color: gray;
    font-size: 2em;
    margin-top: 1em;
    font-weight: 200;
}

li {
    text-align: center;
    color: gray;
    font-size: 1.5em;
    margin-top: 1em;
    font-weight: 100;
    list-style-type: none;
    padding-left: 0;
    margin:0.5em;
}

p {
    text-align: center;
    color: gray;
    font-size: 1.5em;
    margin-top: 1em;
    font-weight: 200;
}


h3 {
    text-align: center;
    color: gray;
    font-size: 1em;
    margin-top: 1em;
    font-weight: 100;
}

b {
    color: aqua;
}

#container h4 {
    padding: .5em 5em;
    text-align: right;
    color: gray;
    font-size: 1em;
    font-weight: lighter;
}

@media all {
    #container p {
        padding: 1em 5em;
        font-size: 1em;
        text-align: left;
        color: gray;
    }

    }

@media (min-width:576px){
    #container p {
        padding: 1em 5em;
        font-size: 1.5em;
        text-align: left;
        color: gray;
    }
    #container h4 {
        padding: 1em 10em;
    }
}

@media (min-width:992px){
    #container p {
        padding: 1em 5em;
        font-size: 2em;
        text-align: left;
        color: gray;
    }
    }



nav a:hover {
    color: #ff5400;
    text-decoration: underline;
}

a {
    color: gray;
    text-decoration: underline;
}

a:hover {
    color: aqua;
}
#bottomtext {
    margin-top: 5em;
}

.entry1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
    align-items: center;
    margin: 5em 0;
}
.entry2 {
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
}
.entry3 {
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
}

#mvp {
    display: flex;
    width: 50%;
}
 
#mandible {
        width: 50%;
}
#lattice {
        width: 50%;
}
.entry2 p {
    width: 50%;
    text-align: left;
}
.entry3 p {
    width: 50%;
    text-align: center;
}

