body {
    /* margin:0px; */
    /* this is common for people to do  */
    background-color: black;
    /* border: 3px solid blue; */
    font-family: "Nunito"; 
}
h1 {
    padding: 0px;
    margin: 0px;
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    color: gray;
    font-size: 2em;
    margin-top: 1em;
    font-weight: 200;
}

li {
    text-align: center;
    color: gray;
    font-size: 2em;
    margin-top: 1em;
    font-weight: 200;
    list-style-type: none;
}

p {
    text-align: center;
    color: gray;
    font-size: 1.5em;
    margin-top: 1em;
    font-weight: 200;
}


h3 {
    text-align: center;
    color: gray;
    font-size: 1em;
    margin-top: 1em;
    font-weight: 100;
}

b {
    color: aqua;
}

#container h4 {
    padding: .5em 5em;
    text-align: right;
    color: gray;
    font-size: 1em;
    font-weight: lighter;
}

@media all {
    #container p {
        padding: 1em 5em;
        font-size: 1em;
        text-align: left;
        color: gray;
    }
    #mvp {
        width: 100%;
    }
    }

@media (min-width:576px){
    #container p {
        padding: 1em 5em;
        font-size: 1.5em;
        text-align: left;
        color: gray;
    }
    #container h4 {
        padding: 1em 10em;
    }
}

@media (min-width:992px){
    #container p {
        padding: 1em 5em;
        font-size: 2em;
        text-align: left;
        color: gray;
    }
    #mvp {
        width: 50%;
    }
    }



nav a:hover {
    color: #ff5400;
    text-decoration: underline;
}

a {
    color: gray;
    text-decoration: underline;
}

a:hover {
    color: aqua;
}
#bottomtext {
    margin-top: 5em;
}

